# Node.js
node_modules/
npm-debug.log
yarn-error.log

# .env
.env

# Directorios de compilación
/dist
/build

# Archivos del sistema operativo
Thumbs.db
.DS_Store

# Archivos del editor
.vscode/
.idea/

# Logs
*.log

# Archivos de base de datos (si es necesario)
*.sqlite
*.db

# Archivos temporales
*.pid
*.gz
*.swp
